body{
		background-image: url("/images/dark_wood_panel.jpg");
}

#login-dropdown-list .dropdown-toggle{
		line-height:3.5;
}
#login-dropdown-list .dropdown-menu{
		text-align:right;
		width: auto;
		min-width:300px;
}

#mainAlert{
		position:fixed;
		display:block;
		top:20px;
		width:50%;
		margin-left:25%;
		margin-right:25%;
		z-index:9999;
}
#word-date-bookend{
		padding: 0px;
}
#words-well{
		position:relative;
}
#first-date{
		position: absolute;
		top:-20px;
		left:0px;
		color: #cccccc;
}

#last-date{
		position: absolute;
		bottom:-20px;
		right:0px;
		color: #bbbbbb;
}

.full-width{
		width:100%;
}

.centered{
		text-align:center;
}

.white{
		color:white;
}

.transparent{
		opacity: .8;
}

footer{
		text-align:center;
		color:white;
}