body{
		background-image: url("/images/dark_wood_panel.jpg");
}

#login-dropdown-list .dropdown-toggle{
		line-height:3.5;
}
#login-dropdown-list .dropdown-menu{
		text-align:right;
		width: auto;
		min-width:300px;
}

#mainAlert{
		position:fixed;
		display:block;
		top:20px;
		width:50%;
		margin-left:25%;
		margin-right:25%;
		z-index:9999;
}
#word-date-bookend{
		padding: 0px;
}
#words-well{
		position:relative;
}
#word-number{
		position:absolute;
		bottom:0px;
		left: 5px;
		color:#aaaaaa;
}
#page-number{
		position:absolute;
		top:0px;
		right: 5px;
		color:#aaaaaa;
}
#prev-page-arrow{
		position:absolute;
		left:-25px;

		top:6px;
}

#first-page-arrow{
		position:absolute;
		left:-25px;
		bottom:6px;
		z-index:1;
}
#next-page-arrow{
		position:absolute;
		right:-25px;
		top:6px;
}
#last-page-arrow{
		position:absolute;
		right:-25px;
		bottom:6px;
		z-index:1;
}
#first-date{
		position: absolute;
		top:-20px;
		left:0px;
		color: #cccccc;
}

#same-date{
		position: absolute;
		bottom:-20px;
		left:0px;
		color: #cccccc;
		z-index:100;
}
#last-date{
		position: absolute;
		bottom:-20px;
		right:0px;
		color: #cccccc;
		z-index:100;
}
@media screen and (max-width: 768px){
		#prev-page-arrow,
		#first-page-arrow
		{
				left:-15px;
		}
		#next-page-arrow,
		#last-page-arrow
		{
				right:-15px;
		}
}



.full-width{
		width:100%;
}

.centered{
		text-align:center;
}

.white{
		color:white;
}

.grey{
		color:#aaaaaa;
}

.transparent{
		opacity: .8;
}

footer{
		text-align:center;
		color:white;
}