#login-dropdown-list .dropdown-toggle{
		line-height:3.5;
}
#login-dropdown-list .dropdown-menu{
		text-align:right;
		width: auto;
		min-width:300px;
}

#mainAlert{
		position:fixed;
		display:block;
		top:20px;
		width:50%;
		margin-left:25%;
		margin-right:25%;
		z-index:9999;
}

footer{
		text-align:center;
}