<template name="history">
	<div id="words-row" class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<div id="words-well" class="well">
				<div id="first-date">{{firstDate}}</div>
				{{#each previousWords}}
				<span class="new-tooltip" data-toggle="tooltip" data-placement="bottom" title="votes:{{votes}} {{#if totalVotes}}of:{{totalVotes}}{{/if}} @{{moment}}">{{word}} </span>
				{{/each}}
			<div id="last-date"><br>{{lastDate}}</div>
			</div>
			<br>
			<div class="centered"><a class="white" href="{{pathFor route='welcome'}}">Vote!</a></div>
		</div>
	</div>
</template>
